html {
    background-color: rgb(28, 10, 95);
    color: rgb(10, 160, 230);
    line-height: 3em;
  }
  .hig {
    color: rgb(5, 204, 187);    
  }
  li {
    color: rgb(243, 236, 236);
  }
  h1 {
    font-size: 40px;
    font-weight: 1000;
    text-shadow: rgb(253, 253, 253) 1px 1px 1px;
    color: rgb(231, 112, 14);
  }
  #im {
    width: 300px;
    max-width: 80%;
    box-shadow: rgb(214, 218, 1) 1px 1px 70px;
  }
table,
td {
 font-size: 25pt;
  }

  td {
  width: 50%;
}

#txt{
    text-align: left;
    padding-left:30pt;
}

#pic {
  vertical-align: center;
  padding-left:80pt;
}
#btn {
    text-align: center;
  }
  input[type="button"] {
    border: 4;
    color: rgb(77, 5, 47);
    font-size: 25pt;
    border-color: rgb(10, 8, 9);
  }